@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --colorPrimary: hsl(31, 77%, 52%);
  --colorSecondary: hsl(184, 100%, 22%);
  --colorAccent: hsl(179, 100%, 13%);
  --colorParagraph: hsla(0, 0%, 100%, 0.75);
  --colorHeading: hsl(0, 0%, 95%);

  --typeParagraph: "Lexend Deca";
  --typeHeading: "Big Shoulders Display";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: var(--typeParagraph), sans-serif;
  font-weight: 400;
  color: var(--colorParagraph);
}

/* Mobile first - 0 <= 1439 */

body {
  background-color: var(--colorHeading);
  width: 100vw;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5rem;
}

.cards {
  display: flex;
  flex-flow: column nowrap;
  width: 327px;
  border-radius: 1rem;
}

.card {
  width: 100%;
  padding: 5rem 5rem;
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: relative;
}

.card::before {
  padding-bottom: 3rem;
}

.card--button:hover {
  outline: 1px solid var(--colorParagraph);
  cursor: pointer;
}

/* First card - Sedans */
.card:first-child {
  background-color: var(--colorPrimary);
  border-radius: 1rem 1rem 0 0;
}
.card:first-child .card--button {
  color: var(--colorPrimary);
}
.card:first-child .card--button:hover {
  color: var(--colorParagraph);
  background-color: var(--colorPrimary);
}

.card:first-child::before {
  content: url("/images/icon-sedans.svg");
}

/* Second card - SUVs */
.card:nth-child(2) {
  background-color: var(--colorSecondary);
}
.card:nth-child(2) .card--button {
  color: var(--colorSecondary);
}
.card:nth-child(2) .card--button:hover {
  color: var(--colorParagraph);
  background-color: var(--colorSecondary);
}
.card:nth-child(2)::before {
  content: url("/images/icon-suvs.svg");
}

/* Third card - Luxury */
.card:last-child {
  background-color: var(--colorAccent);
  border-radius: 0 0 1rem 1rem;
}
.card:last-child .card--button {
  color: var(--colorAccent);
}
.card:last-child .card--button:hover {
  color: var(--colorParagraph);
  background-color: var(--colorAccent);
}
.card:last-child::before {
  content: url("/images/icon-luxury.svg");
}

.card--heading {
  font-weight: 700;
  font-size: 4rem;
  font-family: var(--typeHeading), sans-serif;
  text-transform: uppercase;
  color: var(--colorHeading);
  padding-bottom: 2rem;
}

.card--text {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  line-height: 1.8em;
}

.card--button {
  font-size: 1.5rem;
  color: none;
  font-family: var(--typeParagraph), sans-serif;
  width: 150px;
  padding: 1em;
  border-radius: 4rem;
  border: 0;
}

/* Desktop 1440 => 9999 */
@media screen and (min-width: 1440px) {
  .cards {
    flex-flow: row nowrap;
    width: 920px;
    height: 500px;
  }
  .card {
    justify-content: space-between;
  }
  .card::before {
    padding-bottom: 0;
  }
  .card:first-child {
    border-radius: 1rem 0 0 1rem;
  }
  .card:last-child {
    border-radius: 0 1rem 1rem 0;
  }
  .card--heading {
    padding-bottom: 0;
  }
  .card--text {
    padding-bottom: 6rem;
  }
}
